.font{
    font-family: sans-serif;
}
.jumbotron{
    padding:70px 50px 70px 50px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar-dark {
     background-color:rebeccapurple;
}
.row-header{
    margin:0px;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.image
{
    height:200px;
    width:800px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.colour
{
    background-color:rebeccapurple;
    color:floralwhite;
}
address{
    font-size:100%;
    margin:0px;
    color:floralwhite;
}
.a::hover
{
    color:antiquewhite;
}

